<!DOCTYPE html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org"
>
    <head>
        <meta charset="UTF-8">
        <title>Disease Management System</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/}">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/diseases}">Diseases</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <br /><br /><br />
        <div class="container">
            <div class="row col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center">New Discovery</h2>
                    </div>
                    <div class="card-body">
                        <form
                            method="post"
                            role="form"
                            th:action="@{/discoveries/saveDiscovery}"
                        >

                            <div class="form-group mb-3">
                                <label class="form-label">First encounter date</label>
                                <input
                                        class="form-control"
                                        id="first_enc_date"
                                        name="first_enc_date"
                                        placeholder="Enter the first encounter date"
                                        th:value="${discovery.first_enc_date}"
                                        type="date"
                                />
                                <p th:errors = "${discovery.first_enc_date}" class="text-danger"
                                    th:if="${#fields.hasErrors('discovery.first_enc_date')}"></p>
                            </div>

                            <div class="form-group mb-3">
                                <label class="form-label">Disease code</label>
                                <select
                                        class="form-control"
                                        id="diseaseCode"
                                        name="diseaseCode"
                                        th:value="${discovery.diseaseCode}"
                                        type="text"
                                >
                                    <option 
                                        th:each="disease : ${diseases}"
                                        th:value="${disease.diseaseCode}"
                                        th:text="${disease.diseaseCode}"
                                    ></option>
                                </select>
                                <p th:errors = "${discovery.diseaseCode}" class="text-danger"
                                    th:if="${#fields.hasErrors('discovery.diseaseCode')}"></p>
                            </div>

                            <div class="form-group mb-3">
                                <label class="form-label">Country</label>
                                <select
                                        class="form-control"
                                        id="cname"
                                        name="cname"
                                        th:value="${discovery.cname}">
                                    <option th:value='USA'>USA</option>
                                    <option th:value='Argentina'>Argentina</option>
                                    <option th:value='Brazil'>Brazil</option>
                                    <option th:value='Nigeria'>Nigeria</option>
                                    <option th:value='Nepal'>Nepal</option>
                                    <option th:value='Kazakhstan'>Kazakhstan</option>
                                    <option th:value='France'>France</option>
                                    <option th:value='China'>China</option>
                                    <option th:value='India'>India</option>
                                    <option th:value='Turkey'>Turkey</option>
                                    <option th:value='Egypt'>Egypt</option>
                                    <option th:value='California'>California</option>
                                    <option th:value='Greece'>Greece</option>
                                    <option th:value='Germany'>Germany</option>
                                    <option th:value='Vienna'>Vienna</option>
                                    <option th:value='England'>England</option>
                                </select>
                                <p th:errors = "${discovery.cname}" class="text-danger"
                                    th:if="${#fields.hasErrors('discovery.cname')}"></p>
                            </div>

                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>