<!DOCTYPE html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org"
>
    <head>
        <meta charset="UTF-8">
        <title>Disease Management System</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous">
        <style>
            #background-video {
                width: 100vw;
                height: 100vh;
                object-fit: cover;
                position: fixed;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                z-index: -1;
            }

            @media (max-width: 750px) {
                #background-video { display: none; }
                body {
                background: url("https://img.freepik.com/premium-photo/abstract-dark-background-with-moving-lines-dots-with-triangles-concept-big-data-network-connection-internet-connection-worldwide-3d-rendering_710001-17.jpg?w=2000") no-repeat;
                background-size: cover;
                }
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark d-none d-lg-block" style="z-index: 2000;">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/}">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/discoveries}">Discoveries</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/diseases}">Diseases</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <video id="background-video" autoplay loop muted poster="https://img.freepik.com/premium-photo/abstract-dark-background-with-moving-lines-dots-with-triangles-concept-big-data-network-connection-internet-connection-worldwide-3d-rendering_710001-17.jpg?w=2000">
			<source src="https://dm0qx8t0i9gc9.cloudfront.net/watermarks/video/BXJT8TRDeiymbx54w/videoblocks-3d-rendering-red-blood-cells-in-vein_h4oiebta8__631e35652a79b1624d02bab6525db377__P360.mp4" type="video/mp4">
		</video>

        <br /><br /><br />
        <div class="container">
            <div class="row col-md-8 offset-md-2">
                <div class="card"
                     style="background-color: rgba(0,0,0,.6);">
                    <div class="card-header text-white">
                        <h2 class="text-center">New Discovery</h2>
                    </div>
                    <div class="card-body"
                         style="background-color: rgba(0,0,0,.6);">
                        <form
                            method="post"
                            role="form"
                            th:action="@{/discoveries/saveDiscovery}"
                        >
                            <div class="form-group mb-3 text-white">
                                <label class="form-label">Disease code</label>
                                <input
                                        class="form-control"
                                        id="diseaseCode"
                                        name="diseaseCode"
                                        placeholder="Enter disease code"
                                        th:value="${disease.diseaseCode}"
                                        type="text"
                                />
                                <p th:errors = "${disease.diseaseCode}" class="text-danger"
                                    th:if="${#fields.hasErrors('disease.diseaseCode')}"></p>
                            </div>

                            <div class="form-group mb-3 text-white">
                                <label class="form-label">Pathogen</label>
                                <input
                                        class="form-control"
                                        id="pathogen"
                                        name="pathogen"
                                        placeholder="Enter pathogen"
                                        th:value="${disease.pathogen}"
                                        type="text"
                                />
                                <p th:errors = "${disease.pathogen}" class="text-danger"
                                    th:if="${#fields.hasErrors('disease.pathogen')}"></p>
                            </div>

                            <div class="form-group mb-3 text-white">
                                <label class="form-label">Description</label>
                                <input
                                        class="form-control"
                                        id="description"
                                        name="description"
                                        placeholder="Enter description"
                                        th:value="${disease.description}"
                                        type="text"
                                />
                                <p th:errors = "${disease.description}" class="text-danger"
                                    th:if="${#fields.hasErrors('disease.description')}"></p>
                            </div>

                            <div class="form-group mb-3 text-white">
                                <label class="form-label">Disease type</label>
                                <select
                                        class="form-control"
                                        id="id"
                                        name="id"
                                        th:value="${disease.id}">
                                    <option th:value='1'>Animal-Transmitted</option>
                                    <option th:value='2'>Bloodborne</option>
                                    <option th:value='3'>Infectious</option>
                                    <option th:value='4'>Bioterrorism-Related</option>
                                    <option th:value='5'>Dementia</option>
                                    <option th:value='6'>Travel-Related</option>
                                    <option th:value='7'>Environmental</option>
                                    <option th:value='8'>Deficiency</option>
                                    <option th:value='9'>Hereditary</option>
                                    <option th:value='10'>Physiological</option>
                                </select>
                                <p th:errors = "*{disease.id}" class="text-danger"
                                    th:if="${#fields.hasErrors('disease.id')}"></p>
                            </div>

                            <div class="form-group mb-3 text-white">
                                <label class="form-label">First encounter date</label>
                                <input
                                        class="form-control"
                                        id="first_enc_date"
                                        name="first_enc_date"
                                        placeholder="Enter the first encounter date"
                                        th:value="${discovery.first_enc_date}"
                                        type="date"
                                />
                                <p th:errors = "${discovery.first_enc_date}" class="text-danger"
                                    th:if="${#fields.hasErrors('discovery.first_enc_date')}"></p>
                            </div>

                            <!-- <div class="form-group mb-3 text-white">
                                <label class="form-label">Disease code</label>
                                <input
                                        class="form-control"
                                        id="diseaseCode"
                                        name="diseaseCode"
                                        placeholder="Enter disease code"
                                        th:value="${discovery.diseaseCode}"
                                        type="text"
                                />
                                <p th:errors = "${discovery.diseaseCode}" class="text-danger"
                                    th:if="${#fields.hasErrors('discovery.diseaseCode')}"></p>
                            </div> -->

                            <div class="form-group mb-3 text-white">
                                <label class="form-label">Country</label>
                                <select
                                        class="form-control"
                                        id="cname"
                                        name="cname"
                                        th:value="${discovery.cname}">
                                    <option th:value='USA'>USA</option>
                                    <option th:value='Argentina'>Argentina</option>
                                    <option th:value='Brazil'>Brazil</option>
                                    <option th:value='Nigeria'>Nigeria</option>
                                    <option th:value='Nepal'>Nepal</option>
                                    <option th:value='Kazakhstan'>Kazakhstan</option>
                                    <option th:value='France'>France</option>
                                    <option th:value='China'>China</option>
                                    <option th:value='India'>India</option>
                                    <option th:value='Turkey'>Turkey</option>
                                    <option th:value='Egypt'>Egypt</option>
                                    <option th:value='California'>California</option>
                                    <option th:value='Greece'>Greece</option>
                                    <option th:value='Germany'>Germany</option>
                                    <option th:value='Vienna'>Vienna</option>
                                    <option th:value='England'>England</option>
                                </select>
                                <p th:errors = "${discovery.cname}" class="text-danger"
                                    th:if="${#fields.hasErrors('discovery.cname')}"></p>
                            </div>

                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>