<!DOCTYPE html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org"
>
    <head>
        <meta charset="UTF-8">
        <title>Disease Management System</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous">
        <style>
            #background-video {
                width: 100vw;
                height: 100vh;
                object-fit: cover;
                position: fixed;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                z-index: -1;
            }

            @media (max-width: 750px) {
                #background-video { display: none; }
                body {
                background: url("https://img.freepik.com/premium-photo/abstract-dark-background-with-moving-lines-dots-with-triangles-concept-big-data-network-connection-internet-connection-worldwide-3d-rendering_710001-17.jpg?w=2000") no-repeat;
                background-size: cover;
                }
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark d-none d-lg-block" style="z-index: 2000; position: fixed;">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/}">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/login}">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <video id="background-video" autoplay loop muted poster="https://img.freepik.com/premium-photo/abstract-dark-background-with-moving-lines-dots-with-triangles-concept-big-data-network-connection-internet-connection-worldwide-3d-rendering_710001-17.jpg?w=2000">
			<source src="https://static.videezy.com/system/resources/previews/000/007/313/original/Plexus.mp4" type="video/mp4">
		</video>

        <br /><br /><br />
        <div class="container">
            <div class="row col-md-8 offset-md-2">
                <div class="card"
                    style="background-color: rgba(0,0,0,.5);">
                    <div class="card-header text-white">
                        <h2 class="text-center">Registration</h2>
                    </div>
                    <div class="card-body"
                    style="background-color: rgba(0,0,0,.5);">
                        <form
                            method="post"
                            role="form"
                            th:action="@{/register/publicServant/save(name=${user.name}, surname=${user.surname}, email=${user.email}, phone=${user.phone}, cname=${user.cname}, salary=${user.salary}, password=${user.password}, occupation=${user.occupation})}"
                        >

                            <div class="form-group mb-3 text-white">
                                <label class="form-label">Department</label>
                                <select
                                        class="form-control"
                                        id="department"
                                        name="department"
                                        th:value="${publicServant.department}">
                                    <option th:value="'Outpatient department'">Outpatient department</option>
                                    <option th:value="'Inpatient Service'">Inpatient Service</option>
                                    <option th:value="'Medical Department'">Medical Department</option>
                                    <option th:value="'Nursing Department'">Nursing Department</option>
                                    <option th:value="'Paramedical department'">Paramedical department</option>
                                    <option th:value="'Physical Medicine and Rehabilitation department'">Physical Medicine and Rehabilitation department</option>
                                    <option th:value="'Operation Theatre Complex department'">Operation Theatre Complex department</option>
                                    <option th:value="'Pharmacy department'">Pharmacy department</option>
                                    <option th:value="'Radiology department'">Radiology department</option>
                                    <option th:value="'Dietary department'">Dietary department</option>
                                </select>
                                <p th:errors = "${publicServant.department}" class="text-danger"
                                    th:if="${#fields.hasErrors('publicServant.department')}"></p>
                            </div>

                            <div class="form-group text-white">
                                <button class="btn btn-primary" type="submit">Register</button>
                                <span>Already registered? <a class="text-white" href="/" th:href="@{/login}">Login here</a></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>